body{
    font-family: 'Lobster','Indie Flower';
    color: aqua;
    text-align: center;
    background-color: black;
display: grid;
grid-template-rows: 1fr,3fr,1fr;
}
.container{
font-size: 160%;

}
#cent{
    display: flex;
    justify-content: space-evenly;
}
footer{
    padding-top:50px ;
    color: white;
}